.header{
display: flex;
align-items: center;
justify-content:space-around;
background-color: darkcyan;
padding: 10px;
color: aliceblue;
}

@media screen and (max-width: 576px){

.header{
 
 width: 100%;
}  
}