.duration{
    padding: 10px;
    position: sticky;
    top:0;
}

.duration .time{
    margin-top: 20px;
}
.duration .time h6{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.add-button {
    background-color:darkturquoise;
    color: white;
    padding: 10px 40px;
    border: none;
    width: 100%;
    border-radius: 10px;
}

